.footer-link a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  line-height: 35px;
}

.gradient {
  background: rgb(229 229 229);
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(83,180,161,1) 0%, rgba(69,204,232,1) 100%);*/
}
.copyright {
  background-color: #e1e1e1;
}

.dropdown-menu.show {
  left: -126px;
  padding: 11px;
}
